<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Heartbeat</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- Custom styles for this template -->
    <link href="static/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:100,400|Roboto+Slab:400,100' rel='stylesheet' type='text/css'>
    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
  </head>

  <body>
            <div class="overlay"></div>
            <div class="bg"> </div>
            <div class="main">
            <h1>Heartbeat</h1>
            <h2>Know your emotions. Know yourself.</h2>
            <a href="#" id="down-button" class="glyphicon glyphicon-chevron-down down-button" aria-hidden="true"></a>
            </div>



            <div class="container" id="container-one">
            <p>People know they need to understand themselves. But how much do you really know about your mood?



            </p>
            <a href="#" id="down-button-2" class="glyphicon glyphicon-chevron-down down-button"  aria-hidden="true"></a>

            </div>


            <div id="container-two" class=" container">                  <p>Let us help you get to know your own moods.</p>
                        

            <form id="input_form">
              <input type="text" placeholder="Email address">
              <input id="pw" type="password" placeholder="Email password">
              <input id="tw" type="text" placeholder="Twitter username">
              <input id="submit-button" type="submit" class="btn btn-lg">
            </form>
            </div>

            <div class="container" id="container-three">
            <p >Press the following button to refresh.</p>
            <p >
              <button id="refesh_btn" class="btn btn-lg btn-default">Refresh</button>
            </p>
              <p>Here's the list of recent messages.</p>
            <div id="refresh_body">
            </div>
            </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <!-- Custom scripts -->
    <script src="static/script.js"></script>
  </body>
</html>
